* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darksalmon;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: solid #ff6347;
}

header h1 {
  margin: 1em;
  text-align: center;
}

form {
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.form-field {
  padding: 1rem;
}

.result {
  display: none;
}
